@import 'variables.scss';

mat-form-field {
  width: 100%
}

.sub-header {
  width: 100%;
  border: 1.5px solid grey;
  margin-bottom:1rem;
}
mat-icon {
  &:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    color: $accent;
  }
}
.add-circle {

}

.deletesweep {
  font-size:30px;
}
