@import '../../../../node_modules/@angular/material/theming';

.navbar {
  position: sticky;
  width: 100%;
  background-color: #e91e63;
  color:white;

  mat-icon {
    border-color: transparent;
    color:white;
    float:right;

    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition: all .2s ease-in-out;
    }
  }
}

.mat-stroked-button{
  color: white;
  font-size: x-large;
}

