<div>
  <div class="title">Handlarz+</div>
  <div class="subtitle">system zarządzania sprzedażą</div>
  <div class="grid-wrapper">
    <div *ngFor="let subscription of subscriptions" class="col-sm-3 price-item">
      <div class="d-flex justify-content-center flex-column align-items-center mt-4">
          <h4>{{subscription.name | uppercase}}</h4>
        <div class="d-flex">
         <p class="money-type">zł</p> <p class="amount">{{subscription.price}} <p
            class="per-time">/mo </p>
        </div>
        <span class="orders">{{subscription.fromOrders + ' - ' + subscription.toOrders }} zamówień</span>

        <button mat-raised-button color="primary" class="mt-3" (click)="register()">Zarejestruj</button>
      </div>

    </div>

  </div>
</div>
