<div class="wrapper">

  <mat-card [formGroup]="formCriteria">
    <div class="row">
      <mat-form-field class="col-sm-4">
        <input matInput type="text" formControlName="username" placeholder="Nazwa użytkownika">
      </mat-form-field>
      <mat-form-field class="col-sm-4">
        <input matInput type="text" formControlName="firstName" placeholder="Imię">
      </mat-form-field>
      <mat-form-field class="col-sm-4">
        <input matInput type="text" formControlName="lastName" placeholder="Nazwisko">
      </mat-form-field>
      <mat-form-field class="col-sm-4">
        <input matInput type="text" formControlName="nip" placeholder="NIP">
      </mat-form-field>

      <mat-form-field class="col-sm-4">
        <mat-label>Status zgłoszenia</mat-label>
        <mat-select formControlName="requestStatus">
          <mat-option></mat-option>
          <mat-option  [value]="RequestStatus.ACCEPTED">Zaakceptowane</mat-option>
          <mat-option  [value]="RequestStatus.DECLINED">Odrzucone</mat-option>
          <mat-option  [value]="RequestStatus.SENDED">Oczekujące</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-sm-4">
        <mat-label>Subskrypcje</mat-label>
        <mat-select formControlName="subscription" [compareWith]="compareByValue">
          <mat-option></mat-option>

          <mat-option *ngFor="let subscription of subscriptions" [value]="subscription">
            {{subscription.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="w-100 d-flex justify-content-end mr-4">
      <button mat-raised-button color="primary"  (click)="getUsersForAdm()">Wyszukaj</button>
    </div>
    </div>

  </mat-card>
  <table mat-table matSort [dataSource]="userDataSource?.content" class="mat-elevation-z8 mt-4">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika</th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>


    <ng-container matColumnDef="nip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NIP</th>
      <td mat-cell *matCellDef="let element"> {{element.nip}} </td>
    </ng-container>

    <ng-container matColumnDef="subscription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subskrypcja</th>
      <td mat-cell *matCellDef="let element">
        {{element?.subscriptionDto?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktywny</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="!element.active" style="color:red">cancel</mat-icon>
        <mat-icon *ngIf="element.active" style="color: green">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="requestStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status zgłoszenia</th>
      <td mat-cell *matCellDef="let element">
        {{element.requestStatus === RequestStatus.SENDED ? 'Oczekuje' : 'Zaakceptowano' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Opcje</th>
      <td mat-cell *matCellDef="let element">

        <button *ngIf="element.requestStatus === RequestStatus.SENDED" mat-raised-button color="primary"
                (click)="changeRequest(element, RequestStatus.ACCEPTED)">Akceptuj
        </button>

        <button *ngIf="element.requestStatus === RequestStatus.SENDED" mat-raised-button color="warn"
                (click)="changeRequest(element, RequestStatus.DECLINED)">Usuń
        </button>

        <button *ngIf="element.requestStatus === RequestStatus.ACCEPTED" mat-raised-button
                [color]="element.active? 'warn' : 'primary'"
                (click)="changeActive(element)"> {{element.active ? 'Dezaktywuj użytkownika' : 'Aktywuj użytkownika'}}
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="userDataSource?.totalElements" [pageSize]="userDataSource?.size"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPaginationChange($event)"
                 showFirstLastButtons></mat-paginator>

</div>

