<div class="wrapper">
  <table mat-table matSort [dataSource]="clientDataSource?.content" class="mat-elevation-z8 mt-4">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa firmy</th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>


    <ng-container matColumnDef="NIP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIP</th>
      <td mat-cell *matCellDef="let element"> {{element.nip}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Miasto</th>
      <td mat-cell *matCellDef="let element">
        {{element.city}}
      </td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kontakt</th>
      <td mat-cell *matCellDef="let element">
        {{(element.phoneNumber ? element.phoneNumber + '/' : '')  + (element.email ? element.email : '')}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="edit(element)">Edytuj</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="clientDataSource?.totalElements" [pageSize]="clientDataSource?.size"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPaginationChange($event)"
                 showFirstLastButtons></mat-paginator>

</div>

<add-button (click)="add()"></add-button>

